# Simple workflow for deploying static content to GitHub Pages
name: Run old_tests

on: [push]

jobs:
  run:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.10"

      - name: Install dependencies
        run: python3 -m pip install -r requirements.txt

      - name: Run old_tests
        run: python3 -m pytest old_tests